body{
  font-family: verdana;
  font-size:110%;
  background-color: #FCF7F8;
  display: flex;
  flex-direction: column;
}

.main {display: flex;
  flex-direction: row;
  overflow: unset;
}

#profilephoto {
  width: 16%;
  border-radius: 40%;
  border: 3px solid blue;
}

header {
  background-color: #61638a;
  text-align: center;
  justify-content: center;
}
#heading{font-family: 'verdana';
  font-size: 120%;
}

footer {
  background-color: #61638a;
  text-align: center;
}
#sidebar{
  width:13%;
  background-color:rgb(189, 189, 216)
}
.nav-menu{list-style-type: none; padding: 0; margin: 0;}
.myskills {list-style-type: none; padding: 0; margin: 0;}
h2:hover {color:red}
h2 {font-size: 40px; background-color: #ccc; margin: 0px; padding: 40px;}
h2 {
  border-style: dashed;
  border-width: 3px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: red;
  border-radius: 10px 20px 30px 40px;    
}
.icons {width: 10%;
border-radius: 50%;}