body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  background-color: #61638a;
  text-align: center;
}

footer {
  background-color: #61638a;
  text-align: center;
}
